body{
    background-color: rgb(241, 241, 241);
}

.flex{
    display: flex;
}

.career{
    gap: 10px;
    padding-left: 20px;
}

#container{
    display: flex;
    gap: 20px;
}

#part1{
    height: 900px;
    width: 350px;
    background-color: antiquewhite;
    position: relative;
}
#part1 h3{
    position: absolute;
    margin: -50px;
    margin-left: 40px;
}

#part2{
    height: 1000px;
    width: 1000px;
    background-color: aqua;
    padding-left: 20px;
}
footer{
    height:250px;
    width:100%;
    background-color: rgb(0, 150, 136);
    align-items: center;
}
footer p{
    display: flex;
    justify-content: flex-end;
}
